.bx--grid {
  padding: $spacing-07 $spacing-04 0 $spacing-04;
  margin: $spacing-07 0  0 $spacing-07;
}

.description--section {
  text-align: center;
}

.farm__img--container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: $layout-01;
  background-color: $ui-01;
  height: 350px;
}

.status--tag {
  position: absolute;
  top: 70px;
  left: 60px;
}

.details--container {
  margin-left: $layout-01;
}

.details--header {
  display: flex;
  justify-content: space-between;
}

.token {
  @include carbon--type-style('expressive-heading-05')  
}

