.farm--card {
  margin: 0 0 0 $spacing-07;
  display: flex;
  flex-flow: column wrap;
}

.spacing {
  margin-left: $spacing-07;
}

.img--container {
  text-align: center;
}

.caption {
  display: flex;
  justify-content: space-between;
}

hr {
  height: 1px;
  border-width: 0;
  color: gray;
  background-color: gray;
}

.info--section {
  text-align: center;
  margin: $layout-02 $layout-03 0 $layout-03;
}

